.checkbox{
    width: 20px;
    height: 20px;
}
.checkbox{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.barra{
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}
.forca{
    height: 30px;
    position: relative;
    bottom: 30px;
}

.parametro-senha-textos{
    display: flex;
    justify-content: space-between;
}
.media{
    background-color: #FAF408;
    width: 50%;
}
.forte{
    background-color: #00FF85;
    width: 100%;
}
